body{
    margin:0;
    background-color:#F5EACA;
}

.screen{
    min-height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    text-align:center;
}

.start-btn-wrap{
    position: relative;
    display: inline-block;
}

.start-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
}