body{
    margin:0;
}

/* 共通 */
.screen{
    min-height:100vh;
    background-color:#F5EACA;

}

/* TOP */
#top-screen{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:3px;
}

.start-btn-wrap{
    position: relative;
    display: inline-block;
}

.start-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    pointer-events: none;
    white-space: nowrap;
}

/* question */
#question-screen{
    display: none;
    flex-direction:column;
    align-items:center;  
    position: relative; 
}

.question-count{
    text-align:center;
    font-size:20px;
    font-weight:bold;
    margin:70px 0 20px;
}

.progress-bar{
    width: 500px;
    height: 20px;
    background-color: #D9D9D9;
    margin: 0 auto;
    overflow: hidden;
}

.progress{
    width: 4%;
    height: 100%;
    background-color: #F6C65B;
}

.question-decoration-img{
    position: absolute;
    right: 50px; 
    bottom: 50px; 
    width: 150px; 
}

.question-text{
    text-align:center;
    font-size:36px;
    margin:100px 0 8%;
}

.answer-btn-wrap{
    display:flex;
    gap: 100px;
}

.answer-btn{
    align-items: center;
    display: block;
    cursor: pointer;
    transform: translateY(5px);
    position: relative;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.answer-btn-img{
    width:220px;
    display: block;
}

.answer-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

/* loading */
#loading-screen{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.loading{
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 25px;
}

.bunseki-img{
    margin-top: 20px;
    width:180px;
}


/* result */
#result-screen{
    display: none;
    padding:100px 30px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.result-main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    width:100%;
    max-width:1400px;
    margin:0 auto;
}

.dog-img{
    width:40%;
    max-width:500px;
    min-width: 0;
}

.result-dog-img{
    display: block;
    width:100%;
    height:auto;
}


.result-content{
    width: 60%;
    max-width: 700px;
    min-width: 0;

}

.result-title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.result-title h1{
    margin: 0;
    line-height: 1.3;
    font-size: clamp(24px, 3vw, 42px);
}

.result-title img{
    width: 50px;px;
}

.result-text{
    position: relative;
    width:100%;
}

.result-text-frame{
    width: 100%;
    height: auto;
    display: block;
}

.result-text-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%
}

.result-text-content h3{
    margin: 0 0 20px;
    font-size: clamp(18px, 2vw, 24px);}

.result-text-content p{
    margin: 0;
    font-size: clamp(14px, 1.4vw, 18px);
    line-height: 1.6;
}


.result-point{
    width: 100%;
    margin-top: 20px;    
}

.result-point h3{
    margin: 0 0 10px;
    font-size: clamp(18px, 2vw, 24px);
}

.result-point-box{
    position: relative;
    width: 100%;
}

.result-point-box img{
    display: block;
    width: 100%;
    height:auto;
}

.result-point-box p{
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    transform: translateY(-50%);
    margin: 0;
    font-size: clamp(13px, 1.3vw, 17px);
    line-height: 1.5;
}



.result-btns{
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 1400px;
    margin: 35px auto 0;
}

.result-btn{
    width:300px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-radius: 50px;
    border:2px solid #000;
    background-color: #fff;
    font-size:15px;
    cursor: pointer;
}

.result-btn img{
    width: 35px;
    height: 35px;
    object-fit: contain;
    flex-shrink: 0;
}

.result-btn i{
    font-size:30px;
    flex-shrink: 0;
}

.result-btn span{
    white-space: nowrap;
}








